@import 'tailwindcss';
@import '@nuxt/ui';

@import './colors';

@source inline('grid-cols-{{1..12}}');

@theme {
  --font-sans: 'Poppins', system-ui, sans-serif;
  --font-mono: 'Fira Mono', monospace;

  --ui-container: 90rem;
  --ui-header-height: --spacing(20);
}
